<header>


    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <h1><a routerLink="/">Developers Garden</a></h1>
      </div>
      <div *ngIf="(isReady$ | async)" class="mini-navbar">
        <ul *ngIf="!(isLogged$ | async)">
          <li>
            <a routerLink="/login">Login</a>
          </li>
          <li>
            <a routerLink="/register">Register</a>
          </li>
        </ul>
        <ul *ngIf="(isLogged$ | async)">
          <li>
            <a routerLink="/profile">{{ getUsername(currentUser$ | async) }}</a>
          </li>
          <li>
            <a (click)="logoutHandler()">Logout</a>
         </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul *ngIf="!(isLogged$ | async)">
        <li>
            <a routerLink="/projects">Projects</a>
        </li>
      </ul>
      <ul *ngIf="(isLogged$ | async)">
        <li>
          <a routerLink="/projects">Projects</a>
      </li>
        <li>
            <a routerLink="/my-projects">My Projects</a>
        </li>
        <li>
          <a routerLink="/projects/new">New Project</a>
        </li>
      </ul>
    </nav>
  </header>
