<header>


    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <h1><a href="/">Developers Garden</a></h1>
      </div>
      <div class="mini-navbar">
        <ul *ngIf="!(isLogged$ | async)">
          <li>
            <a routerLink="/user/login">Login</a>
          </li>
          <li>
            <a routerLink="/user/register">Register</a>
          </li>
        </ul>
        <ul *ngIf="isLogged$ | async">
          <li>
            <a routerLink="/profile">John's profile</a>
          </li>
          <li>
            <a (click)="logoutHandler()">Logout</a>
         </li>
        </ul>
      </div>
    </div>
    <nav>
      <ul>
        <li>
            <a routerLink="/projects">Projects</a>
        </li>
        <li>
            <a routerLink="/my-projects">My Projects</a>
        </li>
        <li>
          <a routerLink="/projects/new">New Project</a>
        </li>
      </ul>
    </nav>
  </header>
