<fieldset>
  <div class="project-card" *ngIf="!isHiddenWindow">
    <div class="back-control">
      <button (click)="goBack()" >&lsaquo; BACK</button>
     
    </div>
    <p *ngIf="errorMessage" class="error">{{errorMessage}}</p>
    <div *ngIf="(inEditMode$ | async) as inEditMode; else defaultMode">
      <ng-container *ngIf="inEditMode; else defaultMode" #editMode>
        <form [formGroup]="form" class="project-create" (ngSubmit)="updateHandler()">
          <div class="flex">
              <label for="title">Title:</label>
              <input [class.input-error]="form.get('title')?.touched && !!form.get('title')?.errors" type="text" name="title" id="title" formControlName="title" [placeholder]="project.title"/>
              <p *ngIf="form.get('title')?.touched && form.get('title')?.errors?.['required']" class="error">Title is required!</p>
              <p *ngIf="form.get('title')?.touched && (form.get('title')?.errors?.['minlength'] || form.get('title')?.errors?.['maxlength'])" class="error">Title must be between 5-25 chracter!</p>
          </div>
          <div class="flex">
              <label for="description">Description:</label>
              <input [class.input-error]="form.get('description')?.touched && !!form.get('description')?.errors" type="text" name="description" id="description" formControlName="description"/>
              <p *ngIf="form.get('description')?.touched && form.get('description')?.errors?.['required']" class="error">Description is required!</p>
              <p *ngIf="form.get('description')?.touched && (form.get('description')?.errors?.['minlength'] || form.get('description')?.errors?.['maxlength'])" class="error">Description must be not less than 10 and no more 250 characters!</p>
          </div>
          <div class="flex">
              <label for="language">Language: </label>
              <select [class.input-error]="form.get('language')?.touched && !!form.get('language')?.errors" formControlName="language">
                  <option value="JavaScript">JavaScript</option>
                  <option value="Python">Python</option>
                  <option value="C#">C#</option>
                  <option value="Java">Java</option>
              </select>
              <p *ngIf="form.get('language')?.touched && form.get('language')?.errors?.['required']" class="error">Language is required!</p>
          </div>
          <div class="flex">
              <label for="code">Code:</label>
              <textarea [class.input-error]="form.get('code')?.touched && !!form.get('code')?.errors" type="text" name="code" id="code" rows="8" class="height" minlength="10" formControlName="code"></textarea>
              <p *ngIf="form.get('code')?.touched && form.get('code')?.errors?.['required']" class="error">Code is required!</p>
              <p *ngIf="form.get('code')?.touched && (form.get('code')?.errors?.['minlength'] || form.get('code')?.errors?.['maxlength'])" class="error">Code must be not less than 10 and no more 2 500 characters!</p>
          </div>
          <div class="control-buttons">
          <button type="button" class="control-button" (click)="cancelEdit()">Cancel</button>
          <button class="control-button" type="submit">Update</button>
          </div>
        </form>
      </ng-container>
    </div>
  
    <ng-template #defaultMode>
      <div *ngIf="!project">
        Loading project...
      </div>
      <div *ngIf="project">
        <div class="project-info">
          <label>Title:</label>
          <span>{{ project.title }}</span>
        </div>
        <div class="project-info">
          <label>Description:</label>
          <span>{{ project.description }}</span>
        </div>
        <div class="project-info">
          <label>Code Snippet:</label>
          <span>{{ project.code }}</span>
        </div>
        <div class="project-info">
          <label>Language:</label>
          <span>{{ project.language }}</span>
        </div>
        <div class="project-info">
          <label>Created At:</label>
          <span>{{ project.createdAt | date }}</span>
        </div>
        <div class="project-info">
          <label>Publisher:</label>
          <span>
            <a (click)="openPublisherAccount()" style="cursor: pointer;">{{ projectOwner.username }}</a>
          </span>
        </div>
      
        <div class="control-buttons">
          <ul *ngIf="(isOwner)">
          <button type="button" class="control-button" (click)="openConfirmDialog()">Delete</button>
          <button type="button" class="control-button" (click)="toggleEditMode()">
            Edit
          </button>
          </ul>
        </div>
      </div>
    </ng-template>
  </div>
</fieldset>




